PermitRootLogin yes
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no
ClientAliveInterval 120
ClientAliveCountMax 720
AcceptEnv LANG LC_*
Subsystem	sftp	/usr/lib/openssh/sftp-server